<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UBWIZA</title>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('index')}}" style="font-family: 'Cedarville Cursive', cursive;font-size:1em;">Ubwiza</a>
                </li>
                <li>
                <a href="{{url_for('login')}}">LOGIN</a>
                </li>
                <li> <a href="{{url_for('home')}}">EXPLORE</a></li>
                <li><a href="{{url_for('register')}}">SIGNUP</a></li>
            </ul>
        </nav>
    </header>
    
<main>  
<article>
    <section class="banner">
        <div class="banner-text">
            <p>
                We link you to the best
            </p>
        </div>
        <div class="banner-image">
            <img src="{{url_for('static', filename='images/connecting.svg')}}" alt="">
        </div>
    </section>

    <section class="who">
        <div class="client">

            <h1>
                CLIENT
            </h1>
            <div class="container">
            <div class="item">
                <img src="{{url_for('static', filename='images/counting.png')}}" alt="">
                <p>
                    Select beautician
                </p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='images/view.png')}}" alt="">
                <p>
                    see their products
                </p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='images/contact.png')}}" alt="">
                <p>
                    Get their contact details
                </p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='images/makeup.png')}}" alt="">
                <p>
                Get your service

                </p>
            </div>
        </div>
    </div>
    
        <div class="beauty">
            <H1>
                BEAUTICIAN
            </H1>
            <div class="container">
            <div class="item">
                <img src="{{url_for('static', filename='images/user.png')}}" alt="">
                <p>
                    Create service profile
                </p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='images/upload.png')}}" alt="">
                <p>
                    Upload service images
                </p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='images/booking.png')}}" alt="">
                <p>
                    Get a booking
                </p>
            </div>
            <div class="item">
                <img src="{{url_for('static', filename='images/pay.png')}}" alt="">
                <p>
                    Get paid
                </p>
            </div>
        </div>
        </div>
    </section>

    </article>
</main> 

<footer>
    <nav>
        <ul>
            <li>
            <a href="{{url_for('home')}}">Privacy Policy</a>
            </li>
            <li> <a href="{{url_for('home')}}">Terms of Service</a></li>
            <li><a href="{{url_for('home')}}">Join Our Network</a></li>
        </ul>
    </nav>

</footer>
</body>
</html>