<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>
        REGISTER YOURSELF
    </h1>

         
        <div>
            <form method="POST" action="/register">
                {{ form.csrf_token }}
                <label for=""> {{ form.phone.label }}</label>
                {{ form.phone }}
                <label for=""> {{ form.type_work.label }}</label>
                {{ form.type_work }}
                
                <label for=""> {{ form.location.label }}</label>
                {{ form.location }}
                <label for=""> {{ form.flexibility.label }}</label>
                {{ form.flexibility }}
               
                {{ form.submit }}
              </form>
    </div>
     

 
</body>
</html>