body{
    padding: 0;
    margin: 0;
    background-color: rgba(165, 0, 255, 0.2);
    font-family: "Lato";
}

main {
    display: grid;
    grid-template-columns: repeat(1fr);
}

.seller, .buyer {
    width: 45vw;
    height: fit-content;
 
  border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(165, 0, 255);
overflow-wrap: normal;
    position: relative;
}

.seller {
    transform: rotate(-3deg);
    grid-column: 3;
    grid-row: 2;
    height: max-content;
    margin-top: 30vh;
    padding-bottom: 5em;
    overflow: auto;

}

.header {
    position: absolute;
    top: 20%;
    color: white;
    width: 50%;
    bottom: 20%;
    left: 5%;
    font-weight: 900;
    background-color: rgba(165, 0, 255, 0.1);
    height: max-content;

}
.buyer {
    padding-bottom: 2em;
    display: block;
    max-height: max-content;
    grid-row: 1/span 3;
margin-top: 5vw;
margin-left: 2vw;
overflow:auto;
transform: rotate(10deg);
/* height: 100vh; */
}

.top {
width: 100%;
display: block;
aspect-ratio: 4/3;
height: 20%;
object-position: center;

object-fit: cover;
opacity: 2;
}

nav {
    position: absolute;
    top: 0%;
  display: inline;
 
  text-align: center;
 font-weight: 1000;
  width: 100%;
  height: 2em;
  padding-top: 1em;
  /* right: 0%; */


}

a {
   text-decoration: none;
   color:white; 
   padding-right: 1em;
 

}

.services {
    
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1fr);
    
    padding-top: 2em;
    height: 50;
color: white;
background-color:black;
font-weight: 900;
text-align: center;
}

.nails , .beauty, .hair {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(165, 0, 255, 0.05);
}


.services img {
    height: 50%;
   
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    object-position: center;
    display: block;
}

.seller > .header  {
    background-color: rgba(165, 0, 255, 0.8);
    color:white;
    border: none;
}


.me {
    width: 45vw;
    height: fit-content;
 
  border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(165, 0, 255);
overflow-wrap: normal;
transform: rotate(20deg);
position: absolute;
top: 20%;
right: 10%;
    
}