
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
background-color:  rgba(165, 0, 255, 0.1);
}
.products {
  background-color: white;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-row-gap: 2em;
margin: 1vw;
padding: 5em;
  justify-self: center;
}
.service {
  padding: 1rem;
  background: white;
  border: 1px solid #777;
  border-radius: .25rem;
  overflow: hidden;
display: flex;
flex-direction:column;
box-shadow: 2em 2em 2em -2em;;


font-family: 'Lato', sans-serif; 
  font-weight: 900;
 text-align: center;
  width: 25vw;
  max-height: fit-content;
  color:purple;
  border-style: none;
  background-color: rgba(165, 0, 255, 0.2);
  justify-self: center;
}  
input {
  display: block;

}   
/* #btn {
  font-weight: inherit;
  border: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  width: 5em;
} */
.image{
/* display: none;     */
width: 100%;
align-self: center;
}


body {
  position: relative;
}

.btn {
background-color: violet;
width: max-content;
height: fit-content;
  color:purple;
  border: none;
  font-size: 1rem;
  padding: .5em .75em;
  border-radius: .25em;
  cursor: pointer;
  width: 5em;
  display: inline;
  margin-bottom: 1em;
  margin-left: 5em;
  text-align: center;
}

.btn:hover, .btn:focus {
  background: hsl(250, 50%, 60%);
  height: 100%;
  padding: 0;
}

.btn.btn-outline {
  background: none;
 
}


footer {
  display: flex;
  color: purple;
  font-weight: 900;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(165, 0, 255, 0.2);
  position: absolute;
  height: 10vh;
  max-height:max-content;
  bottom: 0%;
  top: 100%;
  width: 100vw;

}


header {
  color: purple;
  width: 100%;
  grid-column: 1/span 3;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-around;
  margin-right: 3em;
  background-color: rgba(165, 0, 255, 0.2);
  
 
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  font-weight: 900;
}


.work_name {
  padding-top: 10%;
  padding-left: 2%;
}


a {
  text-decoration: none;
  color: purple;
  border-radius: 2em;
 
  padding: 10px;
}



.description {
  width: 80%;
  justify-self: center;
  height: 50%;
  margin-left: 10%;
  margin-bottom: 10%;



}


.service > img:hover
{
   width: 30vw;

}