@media screen and (max-width: 699px) {
  
    body {
       display: grid;
        gap: 1em;
        position: relative;
         padding: 0;
        margin: 0;
        background-color: rgba(165, 0, 255, 0.2);
        font-family: "Lato";
        color: purple;

            
    }
    header {
        position: fixed;
        background-color: white;
        width: 100%;
        
    }

      nav {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
      
        
    }
    a {
        text-decoration: none;
        color: blueviolet;
        font-weight: 900;
    }
    main {
       overflow-y: scroll;

        display: grid;
        grid-template-columns: repeat(1fr);
     
        overflow-wrap: normal;
      margin: 2vw;
      gap: 2em;
    }
  img {
      aspect-ratio: 16/9;
      width: 100%;

  }
  .seller, .buyer {
      display: grid;
      border-radius: .2em;
      background-image: linear-gradient();
      background-color: white;
    box-shadow: 0 2px 5px 0 rgb(165, 0, 255);
  
  }
footer {
      
      border-top: solid purple 1px;

    
  }

  .tag  {
    font-family: 'Comforter Brush';
    /* position: absolute;
    top: 0%;
    left: 10%; */
    color: white;
}
}












@media screen and (min-width: 700px) {
    
body{
    padding: 0;
    margin: 0;
    background-color: rgba(165, 0, 255, 0.2);
    font-family: "Lato";
 
}

main {
    display: grid;
    grid-template-columns: repeat(1fr);
}

.seller, .buyer {
    width: 45vw;
    height: fit-content;
 
  border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(165, 0, 255);
overflow-wrap: normal;
    position: relative;
}

.header {
    color:white;
    font-weight: 900;
    background-color: black;
}
.seller {
   
    grid-column: 3;
   
    height: max-content;
    margin-top: 30vh;
    padding-bottom: 5em;
    overflow: auto;
    background-color: black;
    

}

.buyer {
    padding-bottom: 2em;
    display: block;
    max-height: max-content;
    grid-row: 1/span 3;
margin-top: 5vw;
margin-left: 2vw;
overflow:auto;

/* height: 100vh; */
}

.top {
width: 100%;
display: block;
aspect-ratio: 4/3;
height: 20%;
object-position: center;

object-fit: cover;
opacity: 2;

}

nav {
   
    top: 0%;
  display: inline;
 font-size: 2em;
  text-align: center;
 font-weight: 1000;
  width: 100vw;
  height: 2em;
  padding-top: 0.5em;
  position: fixed;
   z-index: 2;

    left: 0%;    


}
.tag  {
    font-family: 'Comforter Brush';
    position: absolute;
    top: 0%;
    left: 10%;
    color: white;
}
/* header {
    position: relative;
    
    overflow: auto;
    width: 100vw;
} */
a {
   text-decoration: none;
   color:white; 
   padding-right: 1em;
  right: 0%;
 

}

.services {
    
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1fr);
    
    padding-top: 2em;
    height: 50;
color: white;
background-color:black;
font-weight: 900;
text-align: center;
}

.nails , .beauty, .hair {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(165, 0, 255, 0.05);
}


.services img {
    height: 50%;
   
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    object-position: center;
    display: block;
}

.seller > .header  {
color:white;
    border: none;
    width: 80%;
    align-self: center;
    margin-left: 5em;
    border-radius: .3em;
    text-align: center;
}


.me {
    width: 45vw;
    height: fit-content;
 
  border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(165, 0, 255);
overflow-wrap: normal;

position: absolute;
top: 0%;
right: 10%;
    
}
}