<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&display=swap" rel="stylesheet">
    {% endblock %}
    <title>UBWIZA | ACCOUNT DETAILS</title>
</head>
<body>

    <header>
      
            <h1>ACCOUNT DETAILS
            </h1>
    <a href="{{url_for('index')}}">HOME</a>
     <a href="{{url_for('reset')}}">RESET</a>   
    
    <a href="{{url_for('home')}}">EXPLORE</a>
    <a href="{{url_for('logout')}}">LOGOUT</a>

</header>


{% block content %}
<main>
<img src="{{url_for('static', filename='images/joinus.svg')}}" alt="REGISTER">
{% if user %}
<div class="userD"> 
    <div class="name">
       Name:  {{ user.name }}
    </div>
   <div class="user">
    Username: {{ user.username }}
   </div>
   <div class="email">
  
    Email: {{ user.email }}

   </div>
 
<a class="but" href="{{url_for('delete_account')}}">DELETE ACCOUNT</a>
<a class="but" href="{{url_for('update')}}">Update Account details</a>
</div>
{% endif %}

</main>
{% endblock %}
   

</body>
</html>