<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       {% block styles %}
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&display=swap" rel="stylesheet">
    {% endblock %}
    <title>Ubwiza | Edit Acoount</title>
</head>
<body>
    <form method="POST">
        {{ form.csrf_token }}
                <label for=""> {{ form.name.label }}</label>
                {{ form.name }}

                <label for=""> {{ form.email.label }}</label>
                {{ form.email }}
                <label for=""> {{ form.username.label }}</label>
                {{ form.username }}
                {{form.submit}}
            </form>    
</body>
</html>

