<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&display=swap" rel="stylesheet">
    {% endblock %}
    


</head>
<body>
    <header>
        
       
           
            <a href="{{url_for('login')}}">LOGIN</a>
            <a href="{{url_for('sellers')}}">SELL</a>
            <a href="{{url_for('home')}}">EXPLORE</a>
            <a href="{{url_for('register')}}">SIGNUP</a>
       

    </header>
{%  block content %}

<main>
<article>
<div class="hair">
<div class="mySlides">
<img src="{{url_for('static', filename='images/gustavo-spindula-M0NkWmz98o8-unsplash.jpg')}}" >
</div>
<div class="mySlides">
<img src="{{url_for('static', filename='images/clarissa-carbungco-ymY5oadXAZI-unsplash.jpg')}}">
</div>
<div class="mySlides">
<img src="{{url_for('static', filename='images/amani-nation-cYlrYD3E0xU-unsplash.jpg')}}">
</div>
</div>
<div class="Makeup">
<div class="mySlides3">
<img src="{{url_for('static', filename='images/kris-atomic-Xa8fX8bQCgs-unsplash.jpg')}}" >
</div>
<div class="mySlides3">
<img src="{{url_for('static', filename='images/kartik-gada--4iMX-4MIZ8-unsplash.jpg')}}">
</div>
<div class="mySlides3">
<img src="{{url_for('static', filename='images/makeup1.jpg')}}">
</div>

<div class="mySlides">
<img src="{{url_for('static', filename='images/nicola-styles-FZDTh2BAIqk-unsplash.jpg')}}">
</div>
</div>
</article>
</main>



{%  endblock %}
<script>

var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
var slideIndex = 0;
carousel();

</script>
</body>
</html>
