<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Ubwiza</title>
    {% block styles %}
 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&display=swap" rel="stylesheet">
    {% endblock %}
   
</head>
<body>
    <header>
        <h1>
           
     
        UBWIZA
    </h1>
    <a href="{{url_for('index')}}">Learn More about Ubwiza</a>   
    <a href="{{url_for('sellers')}}">SELL</a>
    <a href="{{url_for('home')}}">EXPLORE</a>
    </header>
   
    <main>
        <article>
<!-- <div>
    <img src="{{url_for('static', filename='images/login.svg')}}" alt="REGISTER">
</div> -->
    <form action="/login" method="POST">
        <h1>
            Login
        </h1>
    Username <input type="text" name="username">
    Password <input type="password" name="password">
    
     <input class="button" type="submit" value="Login">
     <a href="{{url_for('signup')}}">Dont have an account? Sign Up</a>
    </form>

 
    <img src="{{url_for('static', filename='images/joinus.svg')}}" alt="REGISTER">
    
</article>
 <aside>

 </aside>


</main>
</body>
</html>